.section-container {
  padding: 2rem $gutter;

  .header-icon {
    display: block;
    padding-bottom: 1rem;
    font-size: 72px;
    text-align: center;
  }

  .no-margin {
    margin-bottom: 0;
  }

  h1 {
    margin: 0 0 1rem;
  }
}

.reduced-section {
  padding: 1rem;
}

.lesser-section-container {
  padding: 1rem;
}

.black-background {
  background-color: $black;
  color: $white;
}

.dark-background {
  background-color: $shade900;
  color: $white;
}

.medium-background {
  background-color: $shade500;
  color: $white;
}

.color-background {
  background-color: $secondary;
  color: $white;
}

.image-background {
  background-attachment: fixed;
  background-color: $shade700;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  color: $white;
}

.image-background-opacity {
  background-color: rgba($black, .6);
}

@media all and (min-width: 53.125rem) { // min-width: 850px
  .section-container {
    padding: 5rem $gutter;
  }

  .reduced-section {
    padding: 1.5rem 3rem;
  }

  .lesser-section-container {
    padding: 1.5rem;
  }
}
