.hero {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  text-align: center;
}

.hero-opacity {
  padding: 150px;
  background-color: rgba($black, .6);
}

@media all and (min-width: 37.5rem) {
  .hero {
    background-attachment: fixed;
    background-position: center bottom;
  }
}
