*,
body,
html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.page-center {
  max-width: 960px;
  margin: 0 auto !important;
  float: none !important;
}

//Hubspot Specific
.widget-type-raw_jinja {
  min-height: 0 !important;
} // Removes space from Hubl Template?

.row-fluid [class*="span"] {
  min-height: inherit !important;
}
