%gutter {
  padding: $gutter;
}

%gutter-margin {
  margin: $gutter;
}

%button {
  @extend %gutter-margin;
  display: block;
  padding: $gutter $gutter * 2;
  border: 0;
  outline: 0;
  background-color: $secondary;
  color: $white;
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;

  &:hover {
    background-color: $secondary;
  }
}
