$white: #fff;
$black: #050505;

$primary: #ee8d21;
$primary-dark: #9d580c;

$secondary: #069de8;

$shade300: #c0c0c0;
$shade700: #353535;

$error: #ff4944;

$body-color: $shade700;
$header-color: $shade700;
$footer-color: $shade700;
